# --- Framework Principal ---
streamlit
streamlit-carousel-uui
streamlit-lottie

# --- Datos y Procesamiento Geoespacial ---
pandas
numpy
pyarrow
geopandas
shapely
pyproj
pyogrio

# --- Modelos Analíticos y ML ---
scikit-learn
xgboost
lightgbm

# --- Visualización ---
plotly
matplotlib
seaborn
altair

# --- Red y Utilidades ---
requests
python-dotenv
